<!DOCTYPE html>
<html lang="en">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{estacionEdit.htmlTitle}"></title>
</head>
<body>

<form name="register-form" th:action="@{/estacion/edit/{id}(id=*{id})}" th:object="${estacion}" method="post">
    <h4 th:text="#{estacionEdit.editing} + *{id}"></h4>
    <div>
        <input type="text" th:field="*{nombre}" th:placeholder="#{estacionEdit.nombre}" required>
        <input type="number" th:field="*{plazas}" th:placeholder="#{estacionEdit.plazas}" required>
        <label th:text="#{estacionEdit.active}">Active</label>
        <input type="checkbox" name="active" required >
    </div>
    <div>
        <input type="text" th:field="*{latitud}" th:placeholder="#{estacionEdit.latitud}" required>
        <input type="text" th:field="*{longitud}" th:placeholder="#{estacionEdit.longitud}" required>
    </div>
    <button type="submit" th:text="#{estacionEdit.edit}">Submit</button>
</form>

</body>
</html>