<!DOCTYPE html>
<html lang="en">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{bikeEdit.htmlTitle}"></title>
</head>
<body>

<header th:replace="include.html :: headercontent"></header>

<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="card p-3 py-4 m-4">
        <form name="register-form" th:action="@{/bici} + ${url}" th:object="${bici}" method="post">
            <div class="text-center">
                <h4 th:if="${url.startsWith('/edit/')}" th:text="#{bikeEdit.editing} + ${bici.biciId}"></h4>
                <h4 th:if="${url.equals('/create')}" th:text="#{bikeEdit.creating}"></h4>
                <div class="px-3 mt-3">
                    <label th:text="#{bikeEdit.model}">Model</label>
                    <input type="text" th:field="*{modelo}" th:placeholder="#{bikeEdit.model}" th:value="*{modelo}" required>
                </div>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="estado" th:checked="${bici.estado}">
                <label class="form-check-label" th:text="#{bikeEdit.status}">Status (maintenance)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="electric" th:checked="${bici.electrica}">
                <label class="form-check-label" th:text="#{bikeEdit.electrica}">Electric</label>
            </div>
            <div class="text-center">
                <div class="px-3 mt-3">
                    <label th:text="#{bikeEdit.SOC}">SOC</label>
                    <input type="number" th:field="*{SOC}" th:placeholder="#{bikeEdit.SOC}" th:value="*{SOC}">
                </div>
                <button type="submit" class="btn btn-primary text-uppercase mt-4" th:text="#{form.edit}">Submit</button>
            </div>
        </form>
    </div>
</div>

<header th:replace="include.html :: footercontent"></header>

</body>
</html>