<!DOCTYPE html>
<html lang="en">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{stationView.htmlTitle}"></title>
</head>
<body>

<header th:replace="include.html :: headercontent"></header>

<table class="table table-striped" style="width: auto; table-layout: auto">
    <thead>
    <tr>
        <th scope="col" th:text="#{stationView.id}"></th>
        <th scope="col" th:text="#{stationView.name}"></th>
        <th scope="col" th:text="#{stationView.plazas}"></th>
        <th scope="col" th:text="#{stationView.longitud}"></th>
        <th scope="col" th:text="#{stationView.latitud}"></th>
        <th scope="col" th:text="#{stationView.activa}"></th>
        <th scope="col" th:text="#{stationView.ia}"></th>
        <th th:text="#{form.edit}"></th>
        <th th:text="#{form.delete}"></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="station: ${stations}">
        <th scope="row" th:text="${station.id}"/>
        <td th:text="${station.nombre}"/>
        <td th:text="${station.plazas}"/>
        <td th:text="${station.longitud}"/>
        <td th:text="${station.latitud}"/>
        <td>
            <input class="form-check-input" type="checkbox" th:checked="${station.activa}" disabled>
        </td>
        <td>
            <input class="form-check-input" type="checkbox" th:checked="${station.ia}" disabled>
        </td>
        <td>
            <a th:href="@{/estacion/edit/} + ${station.id}">
                <button class="btn btn-warning" th:text="#{form.edit}"></button>
            </a>
        </td>
        <td>
            <form th:action="@{/estacion/delete/} + ${station.id}" method = "post">
                <button type="submit" class="btn btn-danger" th:text="#{form.delete}"></button>
            </form>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/estacion/create}">
    <button class="btn btn-primary" th:text="#{form.create}"></button>
</a>

</body>
</html>