<!DOCTYPE html>
<html lang="en">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{stationMenu.htmlTitle}"></title>
</head>
<body>

<header th:replace="include.html :: headercontent"></header>

<a th:href="@{/estacion/all}" class="btn btn-primary d-inline" th:text="#{stationMenu.all}"/>

<a th:href="@{/estacion/activa/1}" class="btn btn-primary d-inline" th:text="#{stationMenu.activas}"/>

<a th:href="@{/estacion/activa/0}" class="btn btn-primary d-inline" th:text="#{stationMenu.inactivas}"/>

<form th:action="@{/estacion/id}" method="get" class="d-inline">
    <label th:text="#{stationView.id}" class="d-inline"></label>
    <input class="form-control d-inline w-auto" type="number" name="id" required/>
    <button type="submit" class="btn btn-primary d-inline " th:text="#{form.find}"></button>
    <input class="form-control d-inline w-auto" type="datetime-local" name="date"/>
    <button type="submit" class="btn btn-primary d-inline " th:text="#{form.predict}" th:formaction="@{/estacion/prediccion}"></button>
</form>

<!--<form th:action="@{/estacion/prediccion}" method="get" class="d-inline">
    <label th:text="#{stationView.id}" class="d-inline"></label>
    <input class="form-control d-inline w-auto" type="number" name="id" required/>
    <button type="submit" class="btn btn-primary d-inline " th:text="#{form.find}"></button>
</form>-->

<a th:href="@{/estacion/create}" class="btn btn-primary d-inline" th:text="#{form.create}"/>
<br>

<!--<iframe width="100%" height="300px" allowfullscreen
        src="//umap.openstreetmap.fr/es/map/mapa-bicimad_756245?scaleControl=true&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=false&onLoadPanel=undefined&captionBar=false"></iframe>-->
<div id="map" style="width: 100%; height: 300px;"></div>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
<script th:src="@{'/js/map.js'}"></script>

</body>
</html>