<!DOCTYPE html>
<html lang="en">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{menu.index}">Index</title>
</head>
<body>
<header th:replace="include.html :: headercontent"></header>

<figure class="figure text-center">
    <img src="/images/bike_station.jpg" class="figure-img img-fluid rounded w-50" alt="Bike sharing station.">
    <figcaption class="figure-caption text-right">Photo by
        <a href="https://unsplash.com/@smingot?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Stéphane Mingot</a>
        on <a href="https://unsplash.com/s/photos/bicycle-station?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></figcaption>
</figure>

<header th:replace="include.html :: footercontent"></header>

</body>
</html>