<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{login.htmlTitle}"></title>
</head>

<body>
    <div class="container mt-3 mb-3 p-3 bg-white border rounded">
        <div id="login">
            <div class="container">
                <div class="notify-messages">
                    <div class="alert alert-danger" th:if="${param.error}" th:text="#{login.invalidLogin}"></div>
                    <div class="alert alert-success" th:if="${param.logout}" th:text="#{login.logOut}"></div>
                </div>
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box fluid" class="col-md-12">
                            <form name="login-form" th:action="@{/login}" method="post">
                                <div class="logo-header col">
                                    <a href="/index">
                                        <img src="/images/logoMUgitu.png" alt="MUgitu logo with text"
                                            class="mx-auto d-block img-fluid" />
                                    </a>
                                </div>
                                <div class="form-group">
                                    <label for="txtUsername" th:text="#{login.username}"></label>
                                    <input type="text" id="txtUsername" name="txtUsername" placeholder="Username"
                                        class="form-control" autofocus>
                                </div>
                                <label for="txtPassword" th:text="#{login.password}"></label>
                                <input type="password" id="txtPassword" name="txtPassword" placeholder="Password"
                                    class="form-control">
                                <div class="form-group">
                                    <label for="checkRememberMe" class="text-info"><span th:text="#{login.rememberMe}"></span> <span>
                                            <input id="checkRememberMe" name="checkRememberMe"
                                                type="checkbox"></span></label><br>
                                    <div class="buttons-div d-flex justify-content-center m-3">
                                        <input type="submit" name="submit" class="btn btn-login m-2 trackGrafana" grafanaId="12" th:value="#{login.logIn}">
                                        <a href="/user/register" class="btn salmon text-center m-2 trackGrafana" grafanaId="13"th:text="#{login.register}"></a>
                                    </div>
                                </div>
                            </form>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>