<!DOCTYPE html>
<html lang="en" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MainPage</title>
</head>
<body>
<h1>Hello <span sec:authentication="name" ></span></h1>
<form th:action="@{/logout}" method = "post">
    <input type = "submit" value = "Sign Out"/>
</form>

<a th:href="@{/bici/all}" >
    <button>Todas las bicis</button>
</a>
<a th:href="@{/bici/libre}" >
    <button>Bicis libres</button>
</a>
<a th:href="@{/bici/parada}" sec:authorize="hasRole('ROLE_ADMIN')">
    <button>Bicis paradas</button>
</a>
<a th:href="@{/bici/ocupada}" sec:authorize="hasRole('ROLE_ADMIN')">
    <button>Bicis ocupadas</button>
</a>
<br>
<a th:href="@{/user/all}" sec:authorize="hasRole('ROLE_ADMIN')">
    <button>Todos los users</button>
</a>
<a th:href="@{/user/email/admin@admin}" >
    <button>ADMIN user</button>
</a>
<a th:href="@{/user/email/user@user}" >
    <button>USER user</button>
</a>
<a th:href="@{/user/email/worker@worker}" >
    <button>WORKER user</button>
</a>
<br>
<form th:action="@{/utilizar/create}" method="post">
    <label>Create Utilizacion</label>
    <input type="text" placeholder="Bici Id" name="biciId">
    <input type="text" placeholder="User Id" th:value="${user.userId}" name="userId" th:disabled="${!user.tipo_usuario.descripcion.equals('ADMIN')}">
    <button type="submit">Create</button>
</form>
<form th:action="@{/estacionar/create}" method="post">
    <label>Create Estacionamiento</label>
    <input type="text" placeholder="Bici Id" name="biciId">
    <input type="text" placeholder="Estacion Id" name="estacionId">
    <input type="text" placeholder="User Id"  th:value="${user.userId}" name="userId" th:disabled="${!user.tipo_usuario.descripcion.equals('ADMIN')}">
    <button type="submit">Create</button>
</form>
<br>
<a th:href="@{/averia/create}" sec:authorize="hasRole('ROLE_WORKER')" >
    <button>Create averia</button>
</a>
<a th:href="@{/averia/edit/1}" sec:authorize="hasAnyRole('ROLE_WORKER','ROLE_ADMIN')" >
    <button>Edit averia 1</button>
</a>
</body>
</html>